.icon-run { background-image: url(../img/run.png);}
.icon-crags { background-image: url(../img/crags.png);}
.icon-at-sea { background-image: url(../img/at-sea.png);}
.icon-falling { background-image: url(../img/falling.png);}
.icon-crawl { background-image: url(../img/crawl.png);}
.icon-strong { background-image: url(../img/strong.png);}
.icon-wingfoot { background-image: url(../img/wingfoot.png);}
.icon-juggler { background-image: url(../img/juggler.png);}
.icon-grab { background-image: url(../img/grab.png);}
.icon-crossed-swords { background-image: url(../img/crossed-swords.png);}
.icon-tripwire { background-image: url(../img/tripwire.png);}
.icon-hand { background-image: url(../img/hand.png);}
.icon-magic-swirl { background-image: url(../img/magic-swirl.png);}
.icon-sprint { background-image: url(../img/sprint.png);}
.icon-journey { background-image: url(../img/journey.png);}
.icon-aura { background-image: url(../img/aura.png);}
.icon-telepathy { background-image: url(../img/telepathy.png);}
.icon-hood { background-image: url(../img/hood.png);}
.icon-stopwatch { background-image: url(../img/stopwatch.png);}
.icon-magnifying-glass { background-image: url(../img/magnifying-glass.png);}
.icon-snatch { background-image: url(../img/snatch.png);}
.icon-round-shield { background-image: url(../img/round-shield.png);}
.icon-embrassed-energy { background-image: url(../img/embrassed-energy.png);}
.icon-one-eyed { background-image: url(../img/one-eyed.png);}
.icon-ragged-wound { background-image: url(../img/ragged-wound.png);}
.icon-smitten { background-image: url(../img/smitten.png);}
.icon-elf-ear { background-image: url(../img/elf-ear.png);}
.icon-sharp-smile { background-image: url(../img/sharp-smile.png);}
.icon-internal-injury { background-image: url(../img/internal-injury.png);}
.icon-invisible { background-image: url(../img/invisible.png);}
.icon-deathcab { background-image: url(../img/deathcab.png);}
.icon-imprisoned { background-image: url(../img/imprisoned.png);}
.icon-snail { background-image: url(../img/snail.png);}
.icon-coma { background-image: url(../img/coma.png);}
.icon-bleeding-eye { background-image: url(../img/bleeding-eye.png);}
.icon-lightning-tear { background-image: url(../img/lightning-tear.png);}
.icon-star-pupil { background-image: url(../img/star-pupil.png);}
.icon-semi-closed-eye { background-image: url(../img/semi-closed-eye.png);}
.icon-worried-eyes { background-image: url(../img/worried-eyes.png);}
.icon-eye-shield { background-image: url(../img/eye-shield.png);}
.icon-broken-shield { background-image: url(../img/broken-shield.png);}
.icon-cracked-shield { background-image: url(../img/cracked-shield.png);}
.icon-shield { background-image: url(../img/shield.png);}
.icon-drop-weapon { background-image: url(../img/drop-weapon.png);}
.icon-bulldozer { background-image: url(../img/bulldozer.png);}
.icon-button-finger { background-image: url(../img/button-finger.png);}
.icon-fast-backward-button { background-image: url(../img/fast-backward-button.png);}
.icon-first-aid { background-image: url(../img/first-aid.png);}
.icon-mountain-climbing { background-image: url(../img/mountain-climbing.png);}
.icon-rolling-energy { background-image: url(../img/rolling-energy.png);}
.icon-cursed-star { background-image: url(../img/cursed-star.png);}
.icon-dead-head { background-image: url(../img/dead-head.png);}
.icon-hand-truck { background-image: url(../img/hand-truck.png);}
.icon-rattlesnake { background-image: url(../img/rattlesnake.png);}
.icon-stone-pile { background-image: url(../img/stone-pile.png);}
.icon-think { background-image: url(../img/think.png);}
.icon-encirclement { background-image: url(../img/encirclement.png);}
